body {
    font-family: Arial, sans-serif;
    margin-top: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 24px;
    margin: 10px 0;
}

.button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #0052ab;
    opacity: 0.5;
    cursor: not-allowed;
}

#stop-button {
    display: none;
    background-color: #dc3545;
}

.button:hover {
    background-color: #0056b3;
}

.loader {
    border: 8px solid #f3f3f3; /* make the loader smaller */
    border-radius: 50%;
    border-top: 8px solid #3498db; /* make the loader smaller */
    width: 60px; /* make the loader smaller */
    height: 60px; /* make the loader smaller */
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#webcam-container {
    margin-top: 20px;
}

#label-container {
    margin-top: 20px;
}

#label-container div {
    font-size: 18px;
    margin-bottom: 10px;
}
